* {
  font-family: Ubuntu;
}
.sign-up {
  display: flex;
  flex-flow: row wrap;
}
.jumbotron {
  height: 346px;
  background-image: url("../img/pizza.png");
  background-size: cover;
  background-position: 0 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-4 {
  text-align: center;
  width: 100%;
  background-color: ghostwhite;
  opacity: 70%;
}

.btn btn-outline-success {
}
.navbar-nav {
}
#myTab {
  display: flex;
}
.h2divider {
  /*display: flex;*/
}
