@media screen and (min-width: 934px) and (max-width: 1210px) {
  body {
    margin: 40px 20px 10px;
  }

  ul {
    list-style: none;
  }

  li {
    padding: 0 0.3em;
  }

  h1 {
    position: absolute;
    padding: 0;
    top: 10px;
  }
  footer {
    position: absolute;
    bottom: 100px;
    /*padding: 0;*/
    /*bottom: 10px;*/
  }
  .hidden-on-desktop {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
  }

  .header-img {
    height: 385px;
    width: 890px;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 20px;
    float: left;
    flex-wrap: wrap;
    width: 50%;
  }

  .sub-section {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    flex-wrap: wrap;
    width: 30%;
  }
}
