.imgSignUp {
  display: flex;
  flex-flow: row-reverse wrap;
}
.jumbotron {
  height: 346px;
  background-image: url("../img/pizza.png");
  background-size: cover;
  background-position: 0 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-4 {
  text-align: center;
  width: 100%;
  background-color: ghostwhite;
  opacity: 83%;
}
