body {
  margin: 0;
  background-color: #1b263b;
  background-image: url("https://images.pexels.com/photos/3616764/pexels-photo-3616764.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Myriad Pro", "sans-serif";
}
header {
  text-align: center;
  background-color: #1b263b;
  padding: 15px 5px;
}

header h1 {
  font-size: 4em;
  margin-bottom: 3px;
  color: #e0e1dd;
}

header p {
  color: #778da9;
}
.fancy-header {
  color: purple; /* single line comment */
  text-decoration: underline;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article div {
  text-align: center;
}

article h2 {
  margin-bottom: 10px;
  color: #415a77;
  font-size: 2em;
}

article ul,
ol {
  font-size: 1em;
  list-style-position: inside;
  padding-right: 50px;
}

article ul {
  list-style-type: circle;
  padding-right: 50px;
}

#company-vision {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}

#company-vision h2 {
  padding: 10px;
  margin-bottom: 10px;
  color: #415a77;
  font-size: 2em;
}

#company-vision img {
  max-width: 49%;
  opacity: 0.85;
}

#company-vision img:hover {
  opacity: 1;
}

#pricing-plans {
  background-color: #1b263b;
  border-radius: 30px;
  text-align: center;
  border: 1px solid dimgrey;
}

#pricing-plans h2 {
  font-size: 2em;
  color: #e0e1dd;
  margin: 0 0 25px 0;
}

#pricing-plans table {
  width: 100%;
  background-color: #e0e1dd;
  border-radius: 30px;
  padding: 15px;
  border: 1px solid dimgrey;
}

#pricing-plans th.title {
  color: #1b263b;
  font-size: 2em;
  text-align: center;
}

#pricing-plans th.label {
  color: #778da9;
  font-size: 0.75em;
  text-align: center;
  border-right: 1px solid lightgray;
}

#pricing-plans td {
  color: #1b263b;
  padding: 15px;
  font-size: 1.25em;
  text-align: center;
}

#pricing-plans td.price {
  font-size: 1.75em;
}

#pricing-plans td.feature {
  font-style: italic;
  font-size: 1em;
}

#pricing-plans .prem {
  background-color: lightgray;
  border-radius: 5px;
}

#pricing-plans p {
  font-size: 0.75em;
  color: #e0e1dd;
}

footer {
  background-color: #1b263b;
  text-align: center;
  padding: 20px;
}

footer a:link {
  color: white;
  text-decoration: none;
}

footer a:visited {
  color: mediumpurple;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer a:active {
  color: grey;
}

@media (max-width: 1024px) {
  #container {
    width: 100%;
    padding: 0px;
    margin: auto;
  }

  #pricing-plans {
    margin: 50px 0px 50px 0px;
  }

  table td,
  th,
  tr {
    font-size: 0.6em;
    margin: 0px;
    padding: 2px;
  }
}

@media (min-width: 500px) {
  #pricing-plans {
    margin: 50px 50px 50px 50px;
    padding: 0 25px;
  }

  #company-vision {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1080px) {
  #container {
    width: 60%;
    padding: 10px;
    margin: auto;
  }

  #pricing-plans {
    margin: 50px;
    padding: 50px 50px 5px 50px;
  }
}
